@charset "UTF-8";

:root{
    --cor-um: #9CE639;
    --cor-dois: #84B026;
    --cor-tres: #3ae54bd6;
    --cor-quatro: #4d5b8e;
    --cor-cinco: #5b664d; 
    --cor-seis: #9d1515;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
  background-color: #fff;
  background-repeat: no-repeat;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.form-span{
  color: var(--cor-um);
}

/* ESTILO DO CABEÇALHO */

header{
    padding: 10px 4%;
    background-color: var(--cor-seis);
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header a {
    color: #000;
    font-size: 23px;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
  }

  header nav.menu-desktop a:hover {
    color: var(--cor-quatro);
    transform: scale(1.05);
  }

  header nav ul {
    list-style-type: none;
  }

  header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 30px;
  }

  /* ESTILO TOPO DO SITE */


  
  section.topo-do-site {
    padding: 70px 4%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;

  }

  section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .topo-do-site h1 {
    color: #000;
    text-shadow: 2px 4px 9px #00000032;
    font-size: 47px;
    line-height: 40px;
  }

  .topo-do-site .txt-topo-site h1 span {
    color: var(--cor-tres);
  }

  .topo-do-site .txt-topo-site p {
    color: #000;
    text-shadow: 2px 4px 9px #0000002e;
    margin: 20px 0px;
    font-weight: bolder;
    font-size: 19px;
  }
/* ESTILOS DOS CARDS */

section.sobre {
    padding: 40px 4%;
  }
  
  .sobre .especialidades-box {
    color: #000;
    padding: 20px;
    margin-top: 35px;
    border-radius: 20px;
    text-shadow: 2px 4px 9px #0000002a;
    transition: 0.2s;

  }
  .sobre .especialidades-box i {
    font-size: 75px;
    color: var(--cor-um);
  }
  
  .sobre .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0px;
  }
  
  .sobre .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--cor-quatro);
  }
  
  section.sobre .flex {
    gap: 60px;
  }
  
  /* ESTILO DO SOBRE */
  
  section.sobre {
    padding: 80px 4%;
  }
  
  section.sobre .flex {
    align-items: center;
    gap: 150px;
  }
  
  .sobre .txt-sobre {
    color: #000;
  }
  
  .sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 40px;
  }

  .sobre .txt-sobre p {
    margin: 30px 0px;
    text-indent: 10px;
    text-align: justify;
  }
  
  .sobre-img h2 {
    color: #000;
    font-size: 24px;
    margin: 0 auto;
    padding-top: 80px;
    text-align: justify;
  }

  .sobre-p p{
    color: #000;
    margin: 0 auto;
    font-size: 1.4rem;
    text-align: justify;
    text-indent: 15px;
    text-shadow: #0000005d;
    line-height: 25px;
  }


 .titulo{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: #000;
 }
  


/* ESTILO FORMULARIO E PAG CONTATO*/


section.img-contato .tit01{
  text-align: left;
  font-size: 35px;
  color: #fff;
  text-shadow: 1px 1px 2px #ffffff60;
  padding-top: 150px;
  position: relative;
  left: 150px;
}

section.img-contato p{
  color: #fff;
  font-size: 18px;
  text-shadow: 1px 1px 2px #ffffff78;
  box-sizing: border-box;
  position: relative;
  left: 150px;
}

.container{
  background-color: #0c0c0b;
  background-image: url(../images/background01.png);
  background-size: cover;
  background-position: top;
  overflow: hidden;
  height: 50vh;
  width: 1863px;
  position: relative;
  left: -291px;
}

section.formulario{
  padding: 80px 4%;
}

form{
  max-width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

form input, form textarea{
  width: 100%;
  background-color: #c2c2c2;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #000000;
  font-size: 18px;
}


form textarea{
  resize: none;
  max-height: 500px;
}

form .btn-enviar{
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input{
  width: 100px;
  background-color: var(--cor-tres);
  color: #000;
  font-weight: 400;
  cursor: pointer;
}



form .btn-enviar input:hover{
  box-shadow: 0px 0px 2px var(--cor-tres);
  transform: scale(1.05);
  transition: .2s;
}

/* ESTILO DO RODAPE */

 footer {
    padding: 40px 4%;
  }
  
  footer .flex {
    justify-content: space-between;
  }
  
  .line-footer {
    padding: 20px 0;
  }
  
  .borda {
    border-top: 3px solid #9d1515;
  }
  

  footer .line-footer p i {
    color: #00ff08;
    font-size: 30px;
  }
  
  footer .line-footer p a {
    color: #000;
    text-decoration: none;
    background-color: #84B026;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 10px;
  }


  footer .line-footer p {
    display: inline-block;
  }

  /* CARROSSEL */

  .slider{
    margin: 0 0;
    width: 1900px;
    height: 600px;
    overflow: hidden;
  }

  .slides{
    width: 400%;
    height: 800px;
    display: flex;
    overflow: hidden;
  }

  .slides input{
    display: none;
  }

  .slide{
    width: 28%;
    position: relative;
    transition: 1s;
    overflow: hidden;
  }

  .slide img{
    margin: 30px auto;
    width: 1200px;
  }

  .nvg-manual{
    position: absolute;
    width: 1800px;
    margin-top: -250px;
    display: flex;
    justify-content: center;
  }

  .manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }

  .manual-btn:not(:last-child){
    margin-right: 30px;
  }

  .manual-btn:hover{
    background-color: white;
  }

#radio1:checked ~ .primeiro {
  margin-left:0;

}

#radio2:checked ~ .primeiro {
  margin-left: -25%;

}

#radio3:checked ~ .primeiro {
  margin-left: -50%;

}

.nvg-auto div{
  border: 2px solid blue;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.nvg-auto{
  position: absolute;
  width: 1800px;
  margin-top: 550px;
  display: flex;
  justify-content: center;
}

.nvg-auto div:not(:last-child){
  margin-right: 30px;
}

#radio1:checked ~ .nvg-auto .auto-btn1{
  background-color: white;
}

#radio2:checked ~ .nvg-auto .auto-btn2{
  background-color: white;
}

#radio3:checked ~ .nvg-auto .auto-btn3{
  background-color: white;
}
